
header#masthead{

	background-color:transparent;
	padding: .5em 0;
	//menu frame
	nav.navbar{
		display: flex;
    	border: 0;
		margin-bottom:0;

		.nav-logo {
			float: left;
			width: 20%;
			display: flex;
			align-items: center;
			align-content: center;
		}
		.nav-list {
			float: left;
			width: 80%;
			display: flex;
			align-items: center;
			align-content: center;
		}

		//left logo
		a.navbar-brand{
			background: url();
		    background-size: contain;
		    background-repeat-x: no-repeat;
		    width:250px;
		}



	}
}

